body{
	margin: 0;
	padding: 0;
}
.menu{
	width: 600px;
	height: 20px;
}
.menu li{
	list-style: none;
}
.sD{
	width: 600px;
	height: 20px;
	margin: 20px;
	border:2px solid #000;
	cursor: pointer;

}
.submenu li{
	width: 500px;
	text-align: left;
	overflow-y: scroll;
	height: 200px;

}
.sD:hover{
	width: 600px;
	height: 240px;
}
.submenu{
	visibility: hidden;
		position: relative;
}
.menu ul{
	padding: 0;
}
.submenu ul{
	padding: 0;
}
.menu li:hover .submenu{
	visibility: visible;

}.style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	height: 140px;
	background-color: #f5f5f5;;
}
.style-2::-webkit-scrollbar
{
	width: 5px;
	height: 90px;
	background-color: #f5f5f5;
}
.style-2::-webkit-scrollbar-thumb
{
	height: 90px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #95e1d3;
}
.style-2{
	min-height: 140px;
}